@use "../abstracts/variables";
@use "../abstracts/mixins";

.aside {
  position: fixed;
  margin-top: 2px;
  margin-left: 2px;
  border-radius: 10px;
  width: 248px;
  height: 100%;
  background-color: rgb(31, 34, 39);
}

.aside-container {
  padding-top: 30px;
  padding-left: 25px;
}
.aside-container div {
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-top: 20px;
  gap: variables.$main-gap;
  @include mixins.paragraph-header-aside();
}
.aside-container div:hover {
  background-color: variables.$primary-hover-color;
  border-radius: 10px;
}
.aside-arrow-right-icon1 {
  margin-left: 84px;
}

.aside-arrow-right-icon2 {
  margin-left: 60px;
}

.library-icon {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-left: 30px;
  color: variables.$player-bar-color;
  @include mixins.main-text();
}
