@use "../abstracts/variables";
@use "../abstracts/mixins";

.header {
  position: fixed;
  display: flex;
  left: 248px;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  width: 100%;
  background-color: variables.$primary-color;
  border-bottom: 1px solid rgba(32, 32, 32, 1);
  z-index: 1000;
}

.header-left {
  display: flex;
  gap: 30px;
  margin-left: variables.$main-padding;

  .people-icon:last-child {
    display: none;
  }
  .search {
    display: none;
  }
}
.header-left input {
  background-color: variables.$primary-color;
  border: none;
  color: rgba(137, 137, 137, 1);
}
.header-left input:focus {
  outline: none;
}
.header-left input:hover {
  background-color: variables.$primary-hover-color;
}

.header-left div {
  display: flex;
  width: 210px;
  align-items: center;
  gap: 10px;
  @include mixins.paragraph-header-aside();
}
.header-left div:hover {
  background-color: variables.$primary-hover-color;
  border-radius: 4px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: variables.$main-gap;
  margin-right: 260px;
}
