.web {
  height: 100%;
}

.body {
  background-image: linear-gradient(
    180deg,
    #1c352d 35%,

    #5c1a12 100%
  );
}

@media (max-width: 768px) {
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
